%p.info
  %span.bold= t 'messages.labels.information'
  = t '.info'

%table.tabular{ :cellpadding => 0, :cellspacing => 0 }
  %thead
    %tr
      %th= t 'activerecord.attributes.article.title'
      %th= t 'activerecord.attributes.article.published_at'
      %th= t 'messages.labels.operations'
  %tbody
    - @articles.each do |article|
      %tr{ :class => cycle(:odd, :even) }
        %td= link_to article.title, edit_dashboard_article_path(article)
        %td= l article.publish_date, :format => :short
        %td
          = link_to t('links.edit'), edit_dashboard_article_path(article)
          |
          = link_to t('links.destroy'), dashboard_article_path(article), :method => :delete, :confirm => t('messages.confirmations.are_you_sure')

= link_to t('links.new'), new_dashboard_article_path
|
= paginate @articles
